---
import { Layout } from "@/layouts/index";
import { CongregationTable } from "../components";


---


<Layout
    title="Administra, edita y crea congregaciones | PPAM Malabo"
>
    <section class="max-w-7xl mx-auto mt-10 px-5 md:px-10 pb-10">
        <CongregationTable client:load/> 
    </section>
</Layout>