---
import { db, Congregacion } from "astro:db";
import Layout from "@/layouts/Layout.astro";
import { BackButton,UserCreateForm } from "@/components/index";


const congregacionData = await db.select().from(Congregacion);

const { isAdmin } = Astro.locals;

if (!isAdmin) {
    Astro.redirect("/");
}
---

<Layout title="Crear usuario | PPAM Malabo">
    <section class="max-w-2xl mx-auto mt-10">
        <BackButton 
            href="/"
            iconsClass="size-10"
        />
        <h1 class="text-center text-4xl font-bold">
            Crea nuevos usuarios para el PPAM
        </h1>
        <UserCreateForm congregacionData={congregacionData} client:only />
    </section>
</Layout>
