---
import DataView from "../components/DataView.astro"
import LoginForm from "../components/LoginForm.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Inicio">
	<div class="flex space-x-4">
		<a href="/login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
		  Login Form
		</a>
		<a href="/program" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
		  Programa
		</a>
		<a href="/data" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
		  Data
		</a>
	  </div>
	  
</Layout>
