---
import AuthLayout from "../layouts/AuthLayout.astro";


---


<AuthLayout title="Inicia Sesión | PPAM Malabo">
    <h1 class="text-center text-4xl font-bold mt-10">Inicia sesión para el PPAM de Malabo</h1>
    <form action="" class="mt-20 px-20 flex flex-col gap-5 justify-center">
        <input name="email" class="w-full h-10 border-2 border-blue-500 p-5" type="text" placeholder="Correo">
        <input name="password" class="w-full h-10 border-2 border-blue-500 p-5" type="password" placeholder="Contraseña">
        <button class="bg-blue-500 py-2 text-white rounded-md disabled:bg-gray-300" type="submit" id="btnSubmit">Iniciar sesión</button>
    </form>
</AuthLayout>

<script>

    const form = document.querySelector('form') as HTMLFormElement
    const btnSubmit = document.querySelector('#btnSubmit') as HTMLButtonElement

    const { signIn } = await import("auth-astro/client")

    form.addEventListener('submit', async (e) => {
        e.preventDefault()
        btnSubmit.setAttribute('disabled', 'true')
        const formData = new FormData(form)
        
        const resp = await signIn('credentials', {
            email: formData.get('email') as string,
            password: formData.get('password') as string,
            redirect: false
        })

        console.log({resp});
        
        if(resp) {
            console.log('Correo o contraseña incorrectos');
            btnSubmit.removeAttribute('disabled')
            return
        }

        window.location.replace('/')
    })
</script>